*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #dfe9e2;
    /*background: url("../images/wall7.jpg") no-repeat fixed 50% 50%;*/
}
header{
    background: #009500;
    box-shadow: 2px 2px 2px #3c3c3c;
}
header h1
{
    margin: 0;
    padding: 5px 5px;
    text-align: center;
    font-family: "Trebuchet MS";
    font-weight: bold;
    text-shadow: 2px 2px #414144;
    color: #fff2fe;
}
article{
    position: relative;
    height: 88vh;
}
section
{
    text-align: center;
    border-left: 1px solid #c1c1c1;
}
.padzero{
    padding: 0;
}
.usersOnline{
    height: 88vh;
    overflow: auto;
}
h3{
    margin: 0;
    padding: 4px 0;
    font-size: 35px;
    font-family: "Apple Braille";
}
section h3{
    border-bottom: 1px solid #c1c1c1;
    margin-left: 0;
    margin-right: 0;
}
.subhead{
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}
.user{
    line-height: 50px;
    font-size: 22px;
    padding: 3px 0;
    text-align: left;
}
.userHead{
    line-height: 50px;
    font-size: 22px;
    padding: 3px 0;
    text-align: left;
    background-color: #1b6d85;
    color: white;
    margin-bottom: 10px;
}
.user:hover{
    background-color: white;
    cursor: pointer;
}

.chatMessages{
    height: 83vh;
    overflow: auto;
}
.chatMessages .user{
    background-color: black;
    color: white;
    margin-bottom: 15px;
}
.myMessage{
    background-color: green;
    color: white;
    text-align: right;
    width: 60%;
    margin-left: 40%;
    border-radius: 0 10px;
    animation-name: newMessage;
    animation-duration: 0.9s;
}
.othersMessage{
    background-color: blueviolet;
    color: white;
    width: 60%;
    border-radius: 10px 0;
    animation-name: newMessage;
    animation-duration: 0.9s;
}
.well{
    box-shadow: 2px 2px 1px #939393;
    opacity: 0.85;
}
#loginForm{
    padding: 15px;
    border: 1px solid grey;
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 40px;
}
.add:hover{
    cursor: pointer;
}

@keyframes newMessage {
    from {opacity: 0; margin-top: 40px;}
    to {opacity: 0.9; margin-top: 10px}
}
