<div class="row wrapper">
    <article class="col-sm-9">
        <div class="subhead row"><h3>Welcome {{username}}</h3></div>
        <div class="row chatbox" id="messageForm" ng-style="showHide">
            <div class="col-sm-12">
                <div class="chatMessages row">
                    <div class="col-md-12">
                        <div class="chatMessagesHead">
                            <div class="userHead row">
                                <div class="col-xs-1"><img src={{path}} width="50px" height="50px" class="img-rounded"/></div>
                                <div class="col-xs-9"><abbr title="{{participants}}">{{friendName}}</abbr></div>
                                <div class="col-xs-1 add" ng-click="initiateGroupChat()">{{addOrDone}}</div>
                            </div>
                            <input type="text" ng-model="groupName" ng-style="showInputName" class="form-control" placeholder="Please enter Group Name">
                            <button ng-click="continueSelect()" class="btn btn-primary" ng-style="showInputName">OK</button>
                            <p class="well {{item.from}}" ng-repeat="item in msglist track by $index">{{item.msg}}</p>
                        </div>
                    </div>
                </div>
                <form class="row" ng-submit="sendMessage()">
                    <div class="form-group">
                        <div class="col-sm-11"><input type="text" id="messageInput" class="form-control" ng-model="msgToSend" autofocus></div>
                        <div class="col-sm-1"><input type="submit" value="send" class="btn btn-success"></div>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <section class="col-sm-3">
        <div class="row">
            <div class="col-xs-12 padzero">
                <h3 class="row">{{mode}}</h3>
                <div class="usersOnline">
                    <div class="user row" ng-repeat="user in users" ng-click="openChat(user)" ng-if="user!=username">
                        <div class="col-xs-2"><img src="images/dp1.png" width="50px" height="50px" class="img-rounded"/></div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-7">{{user}}</div>
                        <div class="col-xs-1" ng-style="{'color':'blue'}">{{badges[user]}}</div>
                    </div>
                    <h3 class="row">Groups</h3>
                    <div class="user row" ng-repeat="room in rooms" ng-click="openChat(room)">
                        <div class="col-xs-2"><img src="images/group.jpg" width="50px" height="50px" class="img-rounded"/></div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-7">{{room}}</div>
                        <div class="col-xs-1" ng-style="{'color':'blue'}">{{badges[room]}}</div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>