<div class="row wrapper">
    <article class="col-sm-9">
        <div class="subhead row"><h3>Welcome {{username}}</h3></div>
        <div class="row chatbox" id="messageForm" ng-style="showHide">
            <div class="col-sm-12">
                <div class="chatMessages row">
                    <div class="col-md-12">
                        <div class="chatMessagesHead">
                            <div class="userHead row">
                                <div class="col-xs-1"><img src={{path}} width="50px" height="50px"/></div>
                                <div class="col-xs-9">{{participants}}</div>
                                <div class="col-xs-1 add" ng-click="initiateGroupChat()">+</div>
                            </div>
                            <p class="well {{item.from}}" ng-repeat="item in msglist track by $index">{{item.msg}}</p>
                        </div>
                    </div>
                </div>
                <form class="row" ng-submit="sendToRoom()">
                    <div class="form-group">
                        <div class="col-sm-11"><input type="text" id="messageInput" class="form-control" ng-model="msgToSend" autofocus></div>
                        <div class="col-sm-1"><input type="submit" value="send" class="btn btn-success"></div>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <section class="col-sm-3">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="row">Select Users</h3>
                <div class="usersOnline">
                    <div class="user row" ng-repeat="user in users" ng-click="add(user)">
                        <div class="col-xs-2"><img src="images/dp1.png" width="50px" height="50px"/></div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-7">{{user}}</div>
                        <div class="col-xs-1" ng-style="{'color':'blue'}">{{badges[user]}}</div>
                    </div>
                    <!--<button ng-click="sendToRoom()">send helloroom</button>-->
                </div>
            </div>
        </div>
    </section>
</div>