<form ng-submit="verify()">
    <div class="form-group" id="loginForm">
        <input type="text" class="form-control" ng-model="username" placeholder="Username" required autocomplete="off" autofocus>
        <br/>
        <input type="submit" value="Login" class="btn btn-success">
    </div>
</form>