<!DOCTYPE html>
<html ng-app="app" ng-controller="mainCtrl">
<head>
    <title>Gupshup {{userid.username}}</title>
    <link rel="stylesheet" type="text/css" href="dependencies/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="dependencies/angular.js"></script>
    <script type="text/javascript" src="dependencies/angular-ui-router.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js" ></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="config/config.js"></script>
    <script src="factories/id.js"></script>
    <script src="factories/messages.js"></script>
    <script src="factories/badges.js"></script>
    <script src="controller/appCtrl.js"></script>
    <script src="controller/loginCtrl.js"></script>
    <script src="controller/chatCtrl.js"></script>
    <script src="controller/groupchat.js"></script>

</head>

<body class="container-fluid">
<header class="row">
    <h1>GUPSHUP</h1>
</header>
<div ui-view></div>
<script>
    var socket = io.connect('/chat');
</script>
</body>
</html>